@import "sass-partials/variables";

.form {
  display: flex;
  align-items: center;
  gap: $task-form-element-gap;

  &_input {
    padding: $task-input-padding;
    background-color: $task-input-bg-color;
    border: none;
    border-radius: $element-border-radius;
    outline: none;

    &::placeholder {
      color: $task-input-placeholder-color;
    }
  }
}
