@import "sass-partials/animations";

.popup {
  // Move this to mixin or extend this centering approach?
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // Add a sass variable for this
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-out;

  &.show {
    animation: phaseIn 0.2s ease-out;
  }

  &.hide {
    // animation: phaseOut 1s ease-in-out;
    // For some reason changing "shouldRender" state
    // onAnimationEnd resets this animation
    // using onTransitionEnd instead
    opacity: 0;
  }
}
