@import "../../../sass-partials/variables";

.form {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__input {
    width: 100%;
    padding: $task-input-padding;
    background-color: $task-input-bg-color;
    border: none;
    border-radius: $element-border-radius;
    // This is temporary, for now
    outline: none;

    &::placeholder {
      color: $task-input-placeholder-color;
    }
  }
}
