@import "../../../../sass-partials/variables";

.tasks__manager {
  &__headerContainer {
    width: 100%;
    margin-bottom: $tasks-header-margin;
  }

  &__headerTitle {
    font-size: 2rem;
    margin-bottom: $tasks-header-margin;
  }
}
