@import "sass-partials/variables";

.header {
  &_container {
    display: flex;
    flex-direction: column;
    gap: $inbox-header-margin;
    margin-bottom: $inbox-header-margin;
  }

  &_title {
    font-size: $inbox-header-title-fontSize;
  }
}
