@import "sass-partials/variables";

.btn {
  border-radius: $btn-border-radius;
  border-style: none;
  color: #ffffff;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-fontWeight;
  height: $btn-height;
  outline: none;
  padding: $btn-padding;
  transition: background-color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

  &.btn-primary {
    background-color: $btn-primary-bg-color-default;

    &:hover {
      background-color: $btn-primary-bg-color-hover;
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  &.btn-danger {
    background-color: $btn-danger-bg-color-default;

    &:hover {
      background-color: $btn-danger-bg-color-hover;
    }
  }
}
