@import "../../../sass-partials/variables";

.tasks__manager {
  &__taskInput {
    width: 100%;
    padding: $task-input-padding;
    background-color: $task-input-bg-color;
    border: none;
    border-radius: $element-border-radius;
    // This is temporary, for now
    outline: none;

    &::placeholder {
      color: $task-input-placeholder-color;
    }
  }
}
