@import "sass-partials/variables";

.tasks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;

  height: 100%;

  &_navigation {
    grid-column: span 1;

    // TODO: Create a mixin for this
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  &_wrapper {
    grid-column: span 11;

    display: flex;
    justify-content: center;

    padding: $tasks-wrapper-padding;

    // TODO: Create a mixin for this
    @media screen and (max-width: 960px) {
      grid-column: span 12;
    }
  }

  &_manager {
    flex: 0 1 $tasks-manager-width;
  }
}
