@import "sass-partials/variables";

// Tasks page container
.tasks {
  display: flex;
  height: 100%;

  // Tasks page container/manager
  &__manager {
    flex: 1 1;
    display: flex;
    justify-content: center;
    padding: 2.8rem;

    &__container {
      flex: 0 1 $tasks-manager-width;
    }
  }
}
