@import "../../../sass-partials/variables";

// I need to decide on a rule organization and naming
.task-container {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-bottom: 1px solid $border-separator-color;
  cursor: pointer;

  &:hover {
    backdrop-filter: brightness(0.95);
  }
}

.task-checkbox {
}

.task-content {
  flex: 1;
  margin-left: 1.5rem;

  &.checked {
    text-decoration: line-through;
  }
}
